rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  	function isAuth() {
    	return request.auth != null && request.auth.uid != null;
    }
    function isSuperAdmin() {
    	return isAuth() && request.auth.token.superAdmin;
    }

    match /accounts/{accountId} {
      allow read: if request.auth.uid == resource.data.ownerId;
      allow create: if request.auth.uid == request.resource.data.ownerId;
      allow write: if  request.auth.uid == resource.data.ownerId;

      function isAccountOwner() {
        return request.auth.uid ==  get(/databases/$(database)/documents/accounts/$(accountId)).data.ownerId;
      }

      match /transactions/{transactionId} {
        allow read: if isAccountOwner();
        allow write: if isAccountOwner();
      }
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}